:root {
    --dustyblue: rgb(103, 115, 131);
    --sand: rgb(169, 159, 150);
    --vanilla: rgb(237, 230, 222);
    --radius: 100%;
    --font-family: monospace;
    --black-text:black;
}

* {
    padding: 20px 30px;
    box-sizing: border-box;
    background-color: var(--dustyblue);
    font-family: var(--font-family);
}

header {
    display: absolute;
}

header h1 {
    font-size: 400%;
    background-color: var(--dustyblue);
    color: var(--black-text);
}

nav {
    display: flex;
    justify-content: right;
}

nav a {
    font-size: 150%;
    text-decoration: none;
    color: var(--black-text);
    border-radius: var(--radius);
    padding: 20px 40px;
    margin: 0 10px;
    transition: all 0.5s ease-in-out;
}


.first {
    background-color: rgb(149, 173, 182);
}

.second {
    background-color: rgb(203, 179, 191);
}

.third {
    background-color: rgb(219, 199, 190);
}

.fourth {
    background-color: rgb(167, 206, 203);
}


img {
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: row;
}

h2 {
    display: flex;
    color:var(--black-text);
    margin: 0px;
    padding: 20px;
    font-size: 250%;
    border-radius: var(--radius);
    text-align: center;
    align-items: center;
    
}

p {
    display: flex;
    font-size: 150%;
    color:var(--black-text);
}

footer {
    display: block;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
    font-size: 150%;
    text-decoration: underline;
    color:var(--black-text);
}

a.first:hover,
a.second:hover,
a.third:hover,
a.fourth:hover {
    color:var(--vanilla);
    background-color: black;
    border-radius: 0%;
    font-size: 200%;
}