:root {
    --dustyblue: rgb(149, 173, 182);
    --sand: rgb(169, 159, 150);
    --vanilla: rgb(237, 230, 222);
    --radius: 2rem;
    --font-family: monospace;
    --black:black;
    --white: white;
}

* {
    padding: 20px 30px;
    box-sizing: border-box;
    font-family: var(--font-family);
}


html {
    background: url(./images/code-language.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flexbox;
}

body {
    backdrop-filter: blur(10px);
    display: flexbox;
}

header {
    display: flex;
}

header h1 {
    font-size: 400%;
    background-color: var(--dustyblue);
    color: var(--black);
    border-radius: var(--radius);
}

header h2 {
    background-image: url(./images/digital.gif);
    background-size: cover;
    color:var(--white);
    margin: 0px;
    padding: 10px;
    font-size: 250%;
    border-radius: var(--radius);
    text-align: center;
    align-items: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
    align-content: space-between;
}

nav a {
    text-decoration: none;
    margin: 0 -15px;
}

nav a button {
    cursor: pointer;
    font-size: 150%;
    color: var(--white);
    border-radius: 50%;
    border: none;
    position: relative;
    background: #100720;
    transition: 0.1s;
    width: 150px;
    height: 100px;
}

nav button:hover {
    background-color: var(--dustyblue);
}

nav button::after {
    content: '';
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(167, 206, 203, 1) 17.8%,
    rgba(203, 179, 191, 1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

nav button:active{
    transform: scale(0.9) rotate(3deg);
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(167, 206, 203, 1) 17.8%,
    rgba(203, 179, 191, 1) 100.2%);
    border:  5px var(--white);
    transition: 1s;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: row;
}

p {
    display: flex;
    font-size: 150%;
    color:var(--black);
}

footer {
    display: block;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}

li {
    font-size: 150%;
    text-decoration: underline;
    color:var(--black);
}

@media screen and  {
    
}